@{
    @model IEnumerable<CartDTO>;
}


<div class="row mt-1 mb-2">

    <partial name="~/Views/Shared/Message.cshtml" />

    @{
        if(Model.Count()==0)
        {
            <div class="justify-content-center">
                <p class="h2">No products added to cart!</p>
            </div>
        }
        foreach (var item in Model)
        {

                <div class="col-3 my-4">
                        <div class="card card-size-250">
                            <img class="card-img-top" src=@Url.Content(@item.ProductImgPath) alt="Card image"> <!--card-img-size-50-->

                            <div class="card-body">
                                <h4 class="card-title">@item.ProductName</h4>
                                <p class="card-text">Count : @item.Count</p>
                                <p class="card-text">Price 1 item : @item.ProductPrice</p>
                                <p class="card-text">Sum : @item.Sum</p>
                               
                            </div>

                            <form method="post" asp-controller="Product" asp-action="Buy">
                                <input type="hidden" value="@item.Sum" name="Sum">
                                <input type="hidden" value="@item.Id" name="CartId">
                                <button type="submit" style="width:250px" class="btn btn-outline-success" >
                                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                                    Buy
                                </button>
                            </form>
                        </div>
                </div>
        }
    }

</div>
